<!DOCTYPE html>
<html>
<head>
  <title>Archive</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Archive</h1>
  
  <table>
    <tr>
      <th>Identifiant</th>
      <th>Nom</th>
      <th>Date d'entrée</th>
      <th>Date de sortie</th>
      <th>État</th>
    </tr>

    {% for index, row in data.iterrows() %}
    <tr>
      <td>{{ row['uuid'] }}</td>
      <td>{{ row['name'] }}</td>
      <td>{{ row['arrival_time'] }}</td>
      <td>{{ row['exit_time'] }}</td>
      {% if row['exit_time'] == '-' %}
        <td class="active">Actif</td>
      {% else %}
        <td class="inactive">Inactif</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

  <a href="/" class="button">Retour à l'accueil</a>

</body>
</html>
